<%= render :partial => 'gallery_top_selector', :locals => { :items => @galleries_list } -%>
<% remote_form_for @gallery, :url => admin_gallery_path(@gallery) do |f| %>
	<fieldset>
		<legend>Название</legend>
		<div style='width:35%; float: left;'>
			<label>Русское</label>
			<%= f.text_field :ru_title, :style => 'width:200px;' %>
		</div>
		<div style='width:35%; float: left;'>
			<label>Английское</label>
			<%= f.text_field :en_title, :style => 'width:200px;' %>
		</div>
		<div style='width:15%; float: left;'>
			<label>Номер</label>
			<%= f.text_field :pos, :style => 'width:30px;' %>
		</div>
		<div style='width:15%; float: left;'>
			<%= submit_tag 'Сохранить' %>
		</div>
	</fieldset>
<% end %>

<div>
<div style='width:580px;float:left;'>
<script>
	function showTagFieldFor(id){
		$j('#'+id+' .tag_list').toggle();
	}
</script>	
<fieldset id="images">
	<legend>Картинки</legend>
	<ul id="photo-list" class="sortable">
	<%= render :partial => 'admin/photos/photo', :collection => @gallery.photos -%>
	</ul>
	<%= sortable_element("photo-list", :url => sort_admin_gallery_path(@gallery), :constraint => false) %>
</fieldset>
</div>

<div style='float:right; width:250px;'>
		<%= swfupload_custom admin_gallery_photos_url(@gallery,"#{ActionController::Base.session_options[:key]}" => cookies[ActionController::Base.session_options[:key]], :request_forgery_protection_token => form_authenticity_token) %>
</div>
<div style="clear:both;"></div>
</div>